obj/
bin/
.vs/
.vscode/
.idea/
*.zip
global-packages/
CMakeFiles/
build/
CMakeCache.txt
Makefile
cmake_install.cmake
/RapidParquet/python/rapidparquet/my_cython_code.c
/RapidParquet/python/rapidparquet/my_cython_code.cpython-310-x86_64-linux-gnu.so
/RapidParquet/python/rapidparquet/my_cython_code.cpp
/RapidParquet/my.parquet
